/* Fonts */
/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,latin-ext);*/
/* General Rules */
html,
body {
	height: 100%
}
#site-wrapper {
	float: left;
	clear: both;
	width: 100%;
	min-height: 100%;
	height: auto!important;
	height: 100%
}
.container-full {
	width: 100%;
	clear: both
}
.relative {
	position: relative
}
.absolute {
	position: absolute
}
.text-branco {
	color: #fff
}
.text-amarelo {
	color: #ffcc00
}
.text-center {
	text-align: center
}
.text-right {
	text-align: right
}
/* Layout */
body {
	background: url(../img/bg.jpg) top center no-repeat #000
}
header {
	height: 135px;
	margin-top: 30px;
	background: url(../img/bg-menu.png) no-repeat center transparent
}
#top-nav li {
	float: left;
	height: 30px;
	line-height: 30px;
	padding: 0 15px;
	border-right: 2px solid #777
}
#top-nav {
	top: 50px
}
#top-nav li a {
	color: #666;
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase
}
#top-nav li a:hover {
	text-decoration: none
}
#slider {
	margin: 25px auto 15px
}
#main-content {
	border-top: 5px solid #111;
	background: url(../img/bg-content.png) repeat top left transparent
} 
#main-content.home {
	margin-top: -120px;
	padding-top: 125px
}
#main-content.interna {
	margin-top: 40px;
	background-color: #111;
}
.titulo-fox {
	height: 50px;
	font-size: 20px;
	color: #ffcc00;
	line-height: 50px;
	padding: 0 0 0 40px;
	text-transform: uppercase;
	background: url(../img/logo-titulo.png) no-repeat center left;
}
.produto-lista h5 {
	padding: 5px;
	color: #ff0000
}
#promos {
	overflow: hidden;
	min-height: 310px
}
#promos .slider-wrapper {
	width: 999px;
	min-height: 310px
}
#revenda-pirelli {
	right: 0;
	top: 105px
}
footer {
	color: #000;
	height: 50px;
	font-weight: 700;
	line-height: 50px;
	background: url(../img/bg-content.png) repeat top left #ffcc00
}
.entry p {
	color: #fff
}
.entry img.pull-left {
	margin: 0 10px 10px 0
}
.entry img.pull-right {
	margin: 0 0 10px 10px
}
.breadcrumb {
	margin: 20px 0;
	background: #222;
}
.marcas a:hover {
	color: #fff;
	text-decoration: none
}





